$button-color: #282828;
$button-hover-color: #181818;
$body-color: #181818;
$background-color: #1d1d1d;
$font-color: #c2c2ac;
$button-border-color: #66666699;
$button-border-hover-color: #999999;
$link-color: rgb(199, 191, 118);

.App{
  margin: 0;
  padding: 0;
  color: $body-color;
  background-color: $body-color;
  height: 100vh;
  overflow: hidden;
}

button{
  width: calc(3vh * 5);
  line-height: 200%;
  background-color: $button-color;
  color: $font-color;
  text-align: center;
  font-size: 2vh;
  position: relative;
  transition: width 0.2s, border 0.2s;
  min-height: 0;
  border: 1px solid $button-border-color;
  border-radius: 0.3em;
  z-index: 3;
  &:hover{
    &.nav{      
      width: calc(3vh * 5.5);
    }
    border: 1px solid $button-border-hover-color;
    transition: width 0.2s, border 0.2s;
  }

}

.Home{
  position: absolute;
  left: 0.2vw;
  width: calc(3vh * 2);
  z-index: 4;
  transition: opacity 0.2s;
  opacity: 100%;
}

.NavBar{
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  gap: 1.25vh;
  background-color: $background-color;
  flex-direction: row;
  padding: 0.2vw 0;
  transition: top 0.5s;
  &.NavBar-Down{
    top: 45vh;
  }
}

.FullName{
  top: calc(45vh - 1em);
  position: fixed;
  text-align: center;
  width: 100%;
  color: $font-color;
  font-size: 8vw;
  letter-spacing: auto;
  opacity: 100%;
  transition: all 0.5s;
  margin: 0;
  line-height: 100%;
  &:hover{
    letter-spacing: 0.02em;
    transition: letter-spacing 0.2s;
  }
  &.FullName-Hide{
    opacity: 0;
    top: -6vw;
  }
}