/*
#dcdcdd
#C5C3C6
#46494C
#4C5C68
#1985A1
*/
body{
    margin: 0;
    padding: 0;
    animation: fadeInBody 0.6s forwards;
    overflow: hidden;
}
@keyframes fadeInBody {
    from { background-color: #d8f3dc; }
    to {background-color: #fff ;}
}

#main-container{ 
    margin-top: 25vh;
    width: 100%;
    font-size: 4vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main-container[shrink]{
    margin-top: 0;
    transition: margin-top 0.5s;
}

#full-name{
    text-align: center;
    height: 1em;
    color: #2d6a4f;
    overflow: hidden;
    line-height: 300%;
    animation: nameSlide 0.8s forwards;
    animation-delay: 0.3s;
    font-size: 1.5em;
    letter-spacing: auto;
    transition: letter-spacing 0.2s;
}

#full-name[shrink]{
    height: 0;
    transition: height 0.5s;
}

#full-name:hover{
    letter-spacing: 0.02em;
    transition: letter-spacing 0.2s;
}

@keyframes nameSlide{
    to{line-height: 100%;}
}

#selection-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1vw;
    background-color: #d8f3dc;
    flex-direction: row;
    padding: 0.2vw 0;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
    animation-delay: 0.2s;
    max-height: 0.7em;
}
@keyframes fadeIn{
    from { opacity: 0; }
    to { opacity: 100%; }
}

.selection{
    width: 10vw;
    line-height: 200%;
    background-color: #b7e4c7;
    color: #1b4332;
    text-align: center;
    font-size: 0.35em;
    position: relative;
    transition: width 0.2s;
    min-height: 0;
}

.selection:hover{
    width: 12vw;
    transition: width 0.2s;
}

a{
    text-decoration: none;
}