body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

#main-container{
    width: 100%;
    font-size: 4vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
}

#full-name[shrink]{
    margin-top: 0;
    height: 0;
    transition: all 0.5s;
}

#navigation-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1vw;
    background-color: #d8f3dc;
    flex-direction: row;
    padding: 0.2vw 0;
    animation-delay: 0.2s;
}

.navigation{
    width: calc(3vh * 7);
    line-height: 200%;
    background-color: #b7e4c7;
    color: #1b4332;
    text-align: center;
    font-size: 3vh;
    position: relative;
    transition: width 0.2s;
    min-height: 0;
}

.navigation:hover{
    width: calc(3vh * 8);
    transition: width 0.2s;
}

#home{
    position: absolute;
    left: 0.2vw;
    width: calc(3vh * 2);
    z-index: 3;
}

@media (max-aspect-ratio: 1/1){
    #home{
        background-color: #52b788;
        transition: all 0.3s;
    }
    #navigation-bar{
        padding-left:calc(3vh * 2);
        width: calc(100% - (3vh * 2));
        transition: all 0.3s;
    }
    .navigation{
        width: calc(3vh * 6);
        transition: all 0.3s;
    }

}

a{
    text-decoration: none;
}

#page-container{
    margin: 0;
    height: 100%;
}

.page-grid{
    font-size: 5vh;
    position: relative;
    display: flex;
    gap: 0.25em;
    padding: 0.25em;
    height: 80vh;
    justify-content: center;
    transition: right 0.5s;   
    flex-shrink: 0;
    width: max-content;
}

.page-grid-cell{
    top: -100vh;
    position: relative;
    padding: 0.8em;
    font-size: 0.5em;
    border-radius: 0.3em;
    background-color: #d8f3dc;
    width: calc(80vh * 0.61);
    z-index: -1;
    animation: cell-slide-in forwards 1s;
}

@keyframes cell-slide-in{
    from{top: -100vh}
    to{top: 0}
}

@keyframes cell-slide-out{
    from{top: 0}
    to{top: 100vh}
}

@keyframes cell-slide-out-up{
    from{top: 0}
    to{top: -100vh}
}

#cv-click-me{
    position: absolute;
    z-index: 99;
    color: white;
    text-shadow: black 2px 2px 5px, black 2px 2px 5px;
    width: inherit;
    margin: auto;
    text-align: center;
    top: 45vh;
    transition: all 0.3s;
    font-size: 1em;
}

#cv-click-me:hover{
    font-size: 1.1em;
    transition: all 0.2s;
}
