$button-color: #282828;
$button-hover-color: #181818;
$body-color: #181818;
$background-color: #1d1d1d;
$font-color: #c2c2ac;
$button-border-color: #66666699;
$button-border-hover-color: #999999;
$link-color: rgb(199, 191, 118);

.App{
  color: $font-color;
  margin: 0;
  padding: 0;
  color: $body-color;
  background-color: $body-color;
  height: 100vh;
}

body{ 
  overflow: hidden; 
}

button{
  width: calc(3vh * 5);
  line-height: 200%;
  background-color: $button-color;
  color: $font-color;
  text-align: center;
  font-size: 2vh;
  position: relative;
  transition: width 0.2s, border 0.2s;
  min-height: 0;
  border: 1px solid $button-border-color;
  border-radius: 0.3em;
  z-index: 3;
  &:hover{
    &.nav{      
      width: calc(3vh * 5.5);
    }
    border: 1px solid $button-border-hover-color;
    transition: width 0.2s, border 0.2s;
  }

}

.Home{
  position: absolute;
  left: 0.2vw;
  width: calc(3vh * 2);
  z-index: 4;
  &.Show{
    opacity: 100%;
    transition: opacity 0.2s;
  }
  &.Hide{
    opacity: 0%;
    transition: opacity 0.2s;
  }
}

.TopObstruction{
  z-index: 8888;
  position: fixed;
  width: 100%;
  min-height: 0vh;
  top: 0px;
  background-color: $body-color;
  transition: min-height 0.5s;
  &.Down{
    min-height: 45vh;
  }
}

.NavBar{
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  gap: 1.25vh;
  background-color: $background-color;
  flex-direction: row;
  padding: 0.2vw 0;
  z-index: 1000;
  transition: top 0.5s;
  &.Down{
    top: 45vh;
  }
}

.ScrollingPages{
  font-size: 1.8vh;
  position: relative;
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
  height: 91.5vh;
  justify-content: center;
  transition: right 0.5s, top 0.5s;   
  flex-shrink: 0; 
  width: max-content;
  top: 5vh;
}

.ScrollingPage{
  position: relative;
  padding: 2vw;
  border-radius: 0.75vw;
  background-color: $background-color;
  color: $font-color;
  width: calc(90vh * 0.61);
  animation: cell-slide-in forwards 0.8s;
}

.Page{
  top: -100vh;
  position: absolute;
  height: 100%;
  width: 100%;
  &.true{
    top: 0vh;
    transition: top 0.8s;
  }
  &.false{
    top: 100vh;
    transition: top 0.8s;
  }
}

.OnePage{
  left: 50%;
  padding: 3vh;
  border-radius: 0.75vw;
  background-color: $background-color;
  color: $font-color;
  width: 90vw;
  max-width: 1000px;
  animation: cell-slide-in-article forwards 0.8s;
  position: absolute;
  -ms-transform: translate(-50%, 6vh);
  transform: translate(-50%, 6vh);
  min-height: 85vh;
  max-height: 86vh;
  transition: top 1s;
  top: 0vh;
}

.FullName{
  position: fixed;
  text-align: center;
  width: 100%;
  color: $font-color;
  font-size: 8vw;
  letter-spacing: auto;
  transition: all 0.5s;
  margin: 0;
  line-height: 100%;
  z-index: 9000;
  &:hover{
    letter-spacing: 0.02em;
    transition: letter-spacing 0.2s;
  }
  &.Hide{
    opacity: 0;
    top: -8vw;
    transition: all 0.5s;
  }
  &.Show{
    top: calc(45vh - 1em);
    opacity: 100%;
    transition: all 0.5s;
  }
}

